/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

$orange: #fd7e14;

header .navbar {
  z-index: 1999;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h3,
h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

.acumin-color,
.active {
  color: #fd6000;
}

.acumin-gray-color {
  color: #837f7b;
}

a {
  color: #fd6000;
}

a:hover {
  text-decoration: none;
  color: #837f7b;
}

.nav-item a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.category-title a {
  display: inline-block;
  border-bottom: 3px solid #e9e711;
  width: auto;
}

.user-btn a:hover {
  color: #fd6000;
}

.start {
  background: #2b2b35;
  background-image: url("/app/assets/images/bal5.jpg");
  background-size: cover;
  background-position: center;
  font-family: acumin-pro, sans-serif;
  overflow-x: hidden;
}

.lifestyle {
  text-decoration: none;
  color: #837f7b;
  margin-left: 20px;
}

.lifestyle::after {
  content: ".";
  font-size: 30px;
  color: $orange;
}

.button-sign {
  background-color: $orange;
}

footer {
  padding: 0.2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-section {
  background-color: #4e443e;
}

.side-menu .navbar-nav {
  margin-top: 4rem;
}

.status {
  margin-top: 5rem;
}

.category-title-list h3 {
  display: inline-block;
  border-bottom: 3px solid #fd6000;
  width: auto;
}

.recent-article {
  padding-top: 7rem;
}

.nav-item1 {
  margin-left: 200px;

  .category {
    color: #000;
    font-family: acumin-pro, sans-serif;
  }

  .home {
    color: #fd6000;
    font-family: acumin-pro, sans-serif;
  }
}

.user-logout {
  color: #fd6000;
}

.cool {
  justify-content: space-between;
}
