/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$orange: #fd7e14;

.start {
  background: #2b2b35;
  background-image: url("/app/assets/images/bal5.jpg");
  background-size: cover;
  background-position: center;
  font-family: acumin-pro, sans-serif;
  overflow-x: hidden;
}

.lifestyle {
  text-decoration: none;
  color: #4e443e;
}

.lifestyle::after {
  content: ".";
  font-size: 30px;
  color: $orange;
}

.button-signin {
  background-color: $orange;
}
