/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
    CSS Reset
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Share+Tech&display=swap');
@import 'font-awesome.css';
@import 'user.scss';
@import 'categories.scss';
@import 'comment.scss';
@import 'articles.scss';

html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

$orange: #fd7e14;
$grey: grey;
$orange-flow: lightsalmon;

header .navbar {
  z-index: 1999;
}

h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h3,
h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

.acumin-color,
.active {
  color: $orange;
  font-size: 25px;
  font-weight: 600;
}

.acumin-gray-color {
  color: #837f7b;
}

a {
  color: #fd6000;
}

a:hover {
  text-decoration: none;
  color: #837f7b;
}

ul {
  list-style-type: none;
}

.first-nav {
  background-color: #f5f5f5;
}

#page-container {
  position: relative;
  min-height: 90vh;
}

.start {
  background-image: url(/assets/back7.jpg);
  background-size: cover;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: hidden;
  height: calc(100vh - 150.4px);
  height: auto;
}

.lifestyle {
  text-decoration: none;
  color: #837f7b;
  margin-left: 20px;
}

.welcome-form {
  padding-top: 50px;
}

.lifestyle::after {
  content: ".";
  font-size: 30px;
  color: $orange;
}

.button-sign {
  background-color: $orange;
}

.featured-section {
  margin-top: 4rem;
}

.featured-info {
  padding-top: 10rem;
}

footer {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-section {
  background-color: #4e443f;
}

.footer-section a {
  color: whitesmoke;
  font-weight: 600;
  line-height: 1.1em;
  font-size: 0.8em;
  padding: 0 0.5em;
  border-left: grey 2px solid;
}

.side-menu .navbar-nav {
  margin-top: 4rem;
}

.status {
  margin-top: 5rem;
}

.nav-item2 {
  margin-left: 200px;
}

.nav-item1 {
  margin-left: 400px;

  .home {
    color: #fd6000;
    font-family: acumin-pro, sans-serif;
  }
}

.gradient {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.34) 0, rgba(0, 0, 0, 0.338) 3.5%, rgba(0, 0, 0, 0.324) 7%, rgba(0, 0, 0, 0.306) 10.35%, rgba(0, 0, 0, 0.285) 13.85%, rgba(0, 0, 0, 0.262) 17.35%, rgba(0, 0, 0, 0.237) 20.85%, rgba(0, 0, 0, 0.213) 24.35%, rgba(0, 0, 0, 0.188) 27.85%, rgba(0, 0, 0, 0.165) 31.35%, rgba(0, 0, 0, 0.144) 34.85%, rgba(0, 0, 0, 0.126) 38.35%, rgba(0, 0, 0, 0.112) 41.85%, rgba(0, 0, 0, 0.103) 45.35%, rgba(0, 0, 0, 0.1) 48.85%, rgba(0, 0, 0, 0.103) 52.35%, rgba(0, 0, 0, 0.112) 55.85%, rgba(0, 0, 0, 0.126) 59.35%, rgba(0, 0, 0, 0.144) 62.85%, rgba(0, 0, 0, 0.165) 66.35%, rgba(0, 0, 0, 0.188) 69.85%, rgba(0, 0, 0, 0.213) 73.35%, rgba(0, 0, 0, 0.237) 76.85%, rgba(0, 0, 0, 0.262) 80.35%, rgba(0, 0, 0, 0.285) 83.85%, rgba(0, 0, 0, 0.306) 87.35%, rgba(0, 0, 0, 0.324) 90.85%, rgba(0, 0, 0, 0.338) 94.35%, rgba(0, 0, 0, 0.347) 97.85%, rgba(0, 0, 0, 0.35));
}

.cool {
  justify-content: space-between;
}

.cool1 {
  background-color: red;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}

/* menu */
.logo-short,
.user-avatar {
  width: 13%;
}

.navbar-desktop {
  width: 70%;
}

.user-avatar {
  width: 30px;
}

i {
  font-size: 1.5rem;
}

.dropdown-menu {
  position: absolute !important;
  left: auto;
  right: 0;
}

/* main */

.side-menu {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  align-items: baseline;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

.content {
  padding-bottom: 5rem;
}

.article {
  box-shadow: 0 2px 29px 0 rgba(0, 0, 0, 0.75);
}

/* media queries */
@media screen and (max-width: 767px) {
  .first-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .featured-info {
    padding-top: 30rem;
  }
}
