// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.recent-article {
  padding-top: 7rem;
}

.remove-padding {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: -32px;
}

.join-jumbotron {
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.img-bg-fix {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 470px;
}

.category-image {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-title > a {
  font-size: 24px;
  color: #fff;
  text-decoration: underline;
  position: relative;
  top: -30px;
}

.article-category-title > a {
  position: relative;
  top: 90px;
  color: #fff;
  font-size: 18px;
}

.lead-title {
  font-size: 18px;
  font-weight: bold;
}

.lead-title a {
  color: #f5f5f5;
}
