// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category-title a {
  display: inline-block;
  border-bottom: 3px solid #e9e711;
  width: auto;
}

.category {
  color: #000;
  font-family: acumin-pro, sans-serif;
}

.category-title-list h3 {
  display: inline-block;
  border-bottom: 3px solid #fd6000;
  width: auto;
}
