<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav footer-nav">
    <div class="container-fluid">
        <div class="navbar-collapse collapse nav-content order-2">
            <ul class="nav navbar-nav">
                <%= link_to 'LIFESTYLE', root_path, class: 'nav-link logo footer-link' %>
            </ul>
        </div>
        <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
            <li class="nav-item"><a class="nav-link footer-link change-color" href="#">Privacy Policy</a></li>
            <li class="nav-item"><a class="nav-link footer-link change-color" href="#">Terms & Conditions</a></li>
            <li class="nav-item"><a class="nav-link footer-link" href="#">Copyright @2020. All rights reserved.</a></li>
        </ul>
        <div class="ml-auto navbar-collapse collapse nav-content order-3 order-md-3">
            <ul class="ml-auto nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link footer-link" href="#">CONNECT WITH US:</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-link" href="#"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>